<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/css/chat.css" />
    <!-- <script src="../static/js/index.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='css/style.css') }}" > </script> -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function changeValue() {
         var choice = document.getElementById("select");
         var mychoice = choice.options[choice.selectedIndex].value;
         //var mychoice = choice.value;

         if (mychoice === "본문") {
           //window.location.href = "/";
         } else if (mychoice === "뉴스") {
           window.location.href = "/article";
         }
      }


        var test_type = 0;
        /*
         * type
         *      0 : mytalk
         *      1 : othertalk
         */
        function showMessage(type, name, msg) {
          var container = document.getElementById("main-container");
          var container_msg = container.getElementsByClassName("chat")[0];

          var newmsg = document.createElement("div");
          var newblank = document.createElement("div");

          if (type) {
            if (msg === "뉴스") {
              //showArticle(name, msg);
              //'<div class="othertalk-container" style="display:flex;">\n'

              newmsg.className = "othertalk";
              newmsg.innerHTML =
                '<div class="box" style="width:40%;">\n' +
                '<div class="profile_name">\n' +
                name +
                "\n" +
                "</div>\n" +
                '<div class="a">\n' +
                "</div>\n" +
                '<div class="b" style="padding:0; overflow: hidden;">\n' +
                '<div class="btn-container">\n' +
                '<button type="button" class="summarization-btn" onclick="articleSumm()">기사 요약</button>\n' +
                '<button type="button" class="articleUrl-btn" onclick="goToWeb()">원문 보기</button>\n' +
                "</div>\n" +
                "</div>\n";
            }else if(msg.startsWith("사람은 살아가는 동안")){
              var msgResult = '계약은 법률 행위의 일종으로 당사자에게 일정한 청구권과 이행 의무를 발생시키며 채무자가 채무의 내용대로 이행하여 채권을 소멸시키는 것을 변제라 한다.';
              newmsg.className = "othertalk";
              newmsg.innerHTML =
                '<div class="box">\n' +
                '<div class="profile_name">\n' +
                name +
                "\n" +
                "</div>\n" +
                '<div class="a">\n' +
                "</div>\n" +
                '<div class="b" style="color:white">\n' +
                msgResult +
                "\n" +
                "</div>\n" +
                "</div>\n";
            } else if(msg.startsWith("윤석열 대통령은")){
              var msgResult = '윤 대통령은 제68회 현충일 추념식에서 대한민국은 자유민주주의 국가를 건설하기 위해 독립과 건국에 헌신한 분들과 공산 전체주의 세력에 맞서 자유를 지켜낸 분들의 희생과 헌신 위에 서 있다고 강조했다.';
              newmsg.className = "othertalk";
              newmsg.innerHTML =
                '<div class="box">\n' +
                '<div class="profile_name">\n' +
                name +
                "\n" +
                "</div>\n" +
                '<div class="a">\n' +
                "</div>\n" +
                '<div class="b" style="color:white">\n' +
                msgResult +
                "\n" +
                "</div>\n" +
                "</div>\n";
            }else if(msg.startsWith("미국령 괌을")){
              var msgResult = '미국령 괌을 강타한 태풍 마와르의 영향으로 일본 각지에 폭우가 내리면서 인명 피해도 속출하고 있다.';
              newmsg.className = "othertalk";
              newmsg.innerHTML =
                '<div class="box">\n' +
                '<div class="profile_name">\n' +
                name +
                "\n" +
                "</div>\n" +
                '<div class="a">\n' +
                "</div>\n" +
                '<div class="b" style="color:white">\n' +
                msgResult +
                "\n" +
                "</div>\n" +
                "</div>\n";
            }else {
              newmsg.className = "othertalk";
              newmsg.innerHTML =
                '<div class="box">\n' +
                '<div class="profile_name">\n' +
                name +
                "\n" +
                "</div>\n" +
                '<div class="a">\n' +
                "</div>\n" +
                '<div class="b">\n' +
                msg +
                "\n" +
                "</div>\n" +
                "</div>\n";
            }
          } else {
            newmsg.className = "mytalk";
            newmsg.innerHTML =
              '<div class="b">\n' +
              "</div>\n" +
              '<div class="a">\n' +
              msg +
              "\n" +
              "</div>\n" +
              "";

            //if (msg.length > 0) {
            //var url = "/chat?message=" + encodeURIComponent(msg);
            //var xhr = new XMLHttpRequest();
            //xhr.open("GET", url);
            //xhr.send();
            //}

          }

          /*newmsg.innerHTML +=
                    "<div class=\"clear\">\n"+
                    "</div>";*/

          newblank.className = "blank";

          container_msg.appendChild(newmsg);
          container_msg.appendChild(newblank);

          container_msg.scrollTop = container_msg.scrollHeight;
        }

        /*function showArticle(name, msg) {
                  newmsg.className = "othertalk";
                  newmsg.innerHTML =
                    '<div class="box">\n' +
                    '<div class="profile_name">\n' +
                    name +
                    "\n" +
                    "</div>\n" +
                    '<div class="a">\n' +
                    "</div>\n" +
                    '<div class="b">\n' +
                    '<img src="{{value}}" />\n' +
                    msg +
                    "\n" +
                    "</div>\n" +
                    "</div>\n";
                }*/
        function sendMessage() {
          var mes = document.getElementById("reply-text").value;

          //test_type ^= 0x01;
          showMessage(0, "summary", mes.replace("\n", "<br />\n"));
          //document.getElementById("reply-text").value = "";

          //var url = "/chat?message=" + encodeURIComponent(mes);
          //var xhr = new XMLHttpRequest();
          //xhr.open("GET", url);
          //xhr.send();
          loadingStart();

          //1초 텀
          setTimeout(function() {
            loadingStop();
          if (mes === "뉴스" || mes.split(",")[0] === "문서" || mes.length > 0) {
            showMessage(1, "summary", mes.replace("\n", "<br />\n"));

            //loadingStop();

            document.getElementById("reply-text").value = "";
            //document.getElementById("filebox").submit();
          }
          console.log("1초가 지났습니다.");
          }, 2000);
        }

        //기사 요약
        function articleSumm() {
          var result = document.getElementById("article-summ").innerText;
          showMessage(1, "챗봇", result.replace("\n", "<br />\n"));
          document.getElementById("reply-text").value = "";
        }

        //원문 보기
        function goToWeb() {
          location.href = link;
        }

        $(document).ready(function() {

          var value = {{ value | tojson }};
          var chatSumm = {{ chatSumm | tojson }};

          var my = document.getElementById("mytalk-a");
          var other = document.getElementById("othertalk-b");
          //my.textContent = value;
          //other.textContent = chatSumm;
          //my.style.display = "block";
          //other.style.display = "block";
          //$(".mytalk").show();
          //$(".othertalk").show();
          if (value !== null && value !== undefined && value !== '') {
            my.textContent = value;
            $(".mytalk").show();
        }

        if (chatSumm !== null && chatSumm !== undefined && chatSumm !== '' && value !== '') {
            other.textContent = chatSumm;
            $(".othertalk").show();
        }
      });

      /* 로딩 화면*/
        function loadingStart() {
          if (document.getElementById('wfLoading')) {
            return;
          }
          var ele = document.createElement('div');
          ele.setAttribute('id', 'wfLoading');
          ele.classList.add('loading-layer');
          ele.innerHTML = '<span class="loading-wrap"><span class="loading-text"><span>.</span><span>.</span><span>.</span></span></span>';
          document.body.append(ele);

          // Animation
          ele.classList.add('active-loading');
        }
        function loadingStop() {
          var ele = document.getElementById('wfLoading');
          if (ele) {
            ele.remove();
          }
        }
      /* 로딩 화면 끝 */
    </script>
  </head>
  <body>
    <header>
      <!-- <div class="header-hr"><hr /></div> -->
      <div class="head">
        <div class="head-box" onclick="window.location.href='/'">
          <i class="fas fa-user-astronaut"></i>
          <div class="head-title">Summarizer</div>
        </div>
        <div>
          <select id="select" class="selectbox" onchange="changeValue()">
            <option value="본문" class="lang-option">본문</option>
            <!-- <option value="URL" class="lang-option">URL</option>
          <option value="문서" class="lang-option">문서</option> -->
            <option value="뉴스" class="lang-option">뉴스</option>
          </select>
        </div>
      </div>
    </header>

    <div class="body-container">
      <div class="side-container">
        <div class="side-box">
          <div class="side-text" onclick="window.location.href='/'">
            <i class="fas fa-home"></i> home
          </div>
          <div class="side-text"><i class="fas fa-server"></i> abstractive</div>
          <div class="side-text">
            <i class="fas fa-code-branch"></i> extractive
          </div>
          <div class="side-text" style="color: red">
            <i class="fas fa-user-astronaut"></i> summary
          </div>
          <div class="side-text" onclick="window.location.href='/article'">
            <i class="fas fa-newspaper"></i> article
          </div>
          <input class="side-input" type="text" placeholder="search.." />
        </div>
      </div>
      <div class="main">
        <div class="main-container" id="main-container">
          <div class="chat">
            <div id="mytalk" class="mytalk" style="display: none">
              <div class="b"></div>
              <div id="mytalk-a" class="a"></div>
            </div>
            <div id="othertalk" class="othertalk" style="display: none">
              <div class="box">
                <div class="profile_name" style="font-weight: 800">summary</div>
                <div class="a"></div>
                <div id="othertalk-b" class="b" style="color: white"></div>
              </div>
            </div>
          </div>
          <form
            class="reply"
            action="/chat"
            method="post"
            onsubmit="sendMessage()"
          >
            <input
              type="text"
              id="reply-text"
              name="reply-text"
              placeholder="Write a message..."
            />
            <!-- <button type="submit"> -->
            <button type="button" onclick="sendMessage()">
              <i class="fas fa-arrow-up"></i>
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- onkeypress="if(event.keyCode==13){sendMessage(); return false;}" -->
    <!-- <img src="{{value}}" /> -->

    <!-- 기사 요약 
    <div id="article-summ"></div> -->

    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
