<!-- 이제 이 부분 사용 안함! -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script type="text/javascript" src="../static/js/main.js"></script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Summarizer</title>

    <script>
      function changeValue() {
        var choice = document.getElementById("select");
        var mychoice = choice.options[choice.selectedIndex].value;

        if (mychoice === "본문") {
          //container1.style.display = "block";
          //container2.style.display = "block";
          //newsdiv.style.display = "none";
          //resultbox.style.display = "none";
          //window.location.href = "index.html";
        } else if (mychoice === "뉴스") {
          window.location.href = "/article";
        }
      }

      function countValue(value) {
        var countWithout = value.replace(/\s/g, "").length;
        var countWith = value.length;

        document.getElementById("countWithout").textContent =
          "공백 제외 : " + countWithout;
        document.getElementById("countWith").textContent =
          "공백 포함 : " + countWith;
        document.getElementById("countWithout").style.color = "red";
      }
    </script>
  </head>

  <body>
    <div class="head">
      <div class="head-box">
        <i class="fas fa-user-astronaut"></i>
        <div class="head-title">Summarizer</div>
      </div>
      <div>
        <select id="select" class="selectbox" onchange="changeValue()">
          <option value="본문" class="lang-option">본문</option>
          <!-- <option value="URL" class="lang-option">URL</option>
        <option value="문서" class="lang-option">문서</option> -->
          <option value="뉴스" class="lang-option">뉴스</option>
        </select>
      </div>
    </div>
    <div id="main" class="container">
      <div class="container-column"></div>
      <div class="container-column">
        <!--<select id="select" class="selectbox" onchange="changeValue()">
          <option value="본문" class="lang-option">본문</option>
          <option value="URL" class="lang-option">URL</option>
          <option value="문서" class="lang-option">문서</option>
          <option value="뉴스" class="lang-option">뉴스</option>
        </select>-->
      </div>

      <div id="mydiv1" class="container-column">
        <form action="/" method="post">
          <label for="input-box">입력</label>
          <textarea
            type="text"
            id="input-box"
            name="input-box"
            rows="15"
            oninput="countValue(this.value)"
          >
{{value}}</textarea
          >
          <div class="lengthBox">
            <div class="length">
              <div id="countWithout" class="countWithout">공백 제외 :</div>
              <div id="countWith" class="countWith">공백 포함 :</div>
            </div>
            <button type="submit" class="submit-btn">한줄요약</button>
          </div>
        </form>
      </div>
      <div id="mydiv2" class="container-column">{{resultSumm}}</div>
      <!-- 뉴스 클릭 시 ui
      <div id="news-container">
        <button class="arrow-btn" onclick="window.location.href='/article'">
          <i class="fas fa-angle-double-left"></i>
        </button>
        <div class="line"></div>
        <div class="box" onclick="summary33(1)">
          <div class="rank">1</div>
          <div class="title">{{titleArr2.0}}</div>
          <img src="{{imgArr2.0}}" class="img" />
        </div>
        <div class="line"></div>
        <div class="box" onclick="summary33(2)">
          <div class="rank">2</div>
          <div class="title">{{titleArr2.1}}</div>
          <img src="{{imgArr2.1}}" class="img" />
        </div>
        <div class="line"></div>

        <div class="box" onclick="summary33(3)">
          <div class="rank">3</div>
          <div class="title">{{titleArr2.2}}</div>
          <img src="{{imgArr2.2}}" class="img" />
        </div>
        <div class="line"></div>

        <div class="box" onclick="summary33(4)">
          <div class="rank">4</div>
          <div class="title">{{titleArr2.3}}</div>
          <img src="{{imgArr2.3}}" class="img" />
        </div>
      </div>
      <hr />
      <div id="result-box" class="result-container">
        <div id="result1" style="display: none">{{resultSumm.0}}</div>
        <div id="result2" style="display: none">{{resultSumm.0}}</div>
        <div id="result3" style="display: none">{{resultSumm.0}}</div>
        <div id="result4" style="display: none">{{resultSumm.0}}</div>
      </div>
        -->
    </div>

    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
